<?xml version="1.0" encoding="UTF-8"?>

<configuration>

  <appender name="ConsoleApp" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%-6t] [%-5p]: %m%n</pattern>
    </encoder>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>ALL</level>
    </filter>
  </appender>
  
  <appender name="FileApp" class="ch.qos.logback.core.FileAppender">
		<!-- Adds up to a possibly existing file  -->
    <Append>true</Append>

    <!-- directory resolution doesn't work under the EBI cluster environment -->
    <!-- File>${project.build.directory}/app.log</File -->
    <File>target/test.log</File>

    <encoder>
      <pattern>%d{dd MMM yyyy HH:mm:ss.SSS} [%-5p] \(%C{1},%L\): %m%n</pattern>
    </encoder>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>ALL</level>
    </filter>
  </appender>
  
	<!-- Minimal logging by default. WARNING: logback expects this to be put after the appenders! -->
  <root level="DEBUG">
    <appender-ref ref="ConsoleApp" />
    <appender-ref ref="FileApp" />
  </root>

  <!-- Add Loggers this way if you want finer reports for selected components -->
  <!-- logger name = "uk.ac.ebi.utils.threading" level = "TRACE" / -->
</configuration>
