<?xml version="1.0" encoding="UTF-8"?>

<configuration>

  <appender name="ConsoleApp" class="ch.qos.logback.core.ConsoleAppender">
  	<target>System.err</target>
    <encoder>
      <pattern>%date{HH:mm:ss.SSS} [%-5level]: %message%n</pattern>
    </encoder>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>ALL</level>
    </filter>
  </appender>
  
  <appender name="FileApp" class="ch.qos.logback.core.FileAppender">
    <!-- Adds up to a possibly existing file -->
    <append>false</append>
    <file>target/test.log</file>
    <encoder>
    	<!-- TODO: %class and %line are useful, but possibly slow, is it worth to ship with these? -->
      <pattern>%date{dd MMM yyyy HH:mm:ss.SSS} [%-6thread] [%-5level] \(%class{1},%line\): %message%n</pattern>
    </encoder>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>ALL</level>
    </filter>
  </appender>

  
	<!-- Minimal logging by default. WARNING: logback expects this to be put after the appenders! -->
  <root level="DEBUG">
    <appender-ref ref="ConsoleApp" />
    <appender-ref ref="FileApp" />
  </root>

	<!-- Add Loggers this way if you want finer reports for selected components -->
  <logger name = "uk.ac.rothamsted.rdf.neo4j" level = "TRACE" />
  <logger name="uk.ac.rothamsted.rdf.neo4j" level = "debug" />
  <logger name="uk.ac.rothamsted.rdf.neo4j.load.support" level = "debug" />
	<logger name = "org.apache.jena" level = "info" />
	<logger name = "TDB" level = "info" />
  
</configuration>
