<?xml version="1.0" encoding="UTF-8"?>

<configuration>

  <appender name="ConsoleApp" class="ch.qos.logback.core.ConsoleAppender">
  	<target>System.err</target>
    <encoder>
      <pattern>%date{HH:mm:ss.SSS} [%-5level]: %message%n</pattern>
    </encoder>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>INFO</level>
    </filter>
  </appender>
  
  <!--
    Files are auto-rolled and oldest ones removed 
  -->  
	<appender name="FileApp" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- Rolls up every day -->
			<fileNamePattern>logs/${project.artifactId}_%d{yyyyMMdd}.log</fileNamePattern>
			<!-- Keeps last 3 months -->
			<maxHistory>90</maxHistory>
		</rollingPolicy>
    <encoder>
    	<!-- TODO: %class and %line are useful, but possibly slow, is it worth to ship with these? -->
      <pattern>%date{dd MMM yyyy HH:mm:ss.SSS} [%-6thread] [%-5level] \(%class{1},%line\): %message%n</pattern>
    </encoder>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>ALL</level>
    </filter>
  </appender>

  
	<!-- Minimal logging by default. WARNING: logback expects this to be put after the appenders! -->
  <root level="INFO">
    <appender-ref ref="ConsoleApp" />
    <appender-ref ref="FileApp" />
  </root>

	<!-- Define more Loggers this way if you want finer reports for selected components -->
  <!-- logger name="uk.ac.rothamsted.rdf.neo4j" level="INFO"/ -->
  
</configuration>
