<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:context="http://www.springframework.org/schema/context" xmlns:util="http://www.springframework.org/schema/util"
		xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.3.xsd">

		<!-- 
		  Just leave this here. It means some components are got from the Java source files, by means of
		  Spring annotations. You do need this base (which the declarations below extend/override). 
		-->
    <context:component-scan base-package = "uk.ac.rothamsted.rdf.neo4j" />


		<!-- This assumes that you started from rdf2neo.sh, which defines the environment variable below, or that you
		     have defined it somewhere else. -->
		<bean id = "pwd" class = "java.lang.String">
			<constructor-arg value = 
			  "#{ systemEnvironment [ 'RDF2NEO_HOME' ] + '/examples/dbpedia/' }" 
			/>		
		</bean>
		
		<!-- 
		  Each ConfigItem is a mapping query set.
		  Every config item is supposed to be associated to a data subset, e.g., one for people, another for places, etc.   	  
		
		  You must define instances of ConfigItem and not a list of ConfigItem(s), due to the way Spring
		  manages injection in this case (https://jira.spring.io/browse/SPR-8519).
		-->

		<!-- Queries to map places -->
		<bean class = "uk.ac.rothamsted.rdf.neo4j.load.MultiConfigCyLoader.ConfigItem">
			
			<!--
			  This is the name of this config item/subset of data. It is used only for communication purposes, 
			  such as log messages.
			-->			
			<property name = "name" value = "places" />

			<property name = "nodeIrisSparql">
				<!-- Use this to read a SPARQ query from a file -->
				<bean class = "uk.ac.ebi.utils.io.IOUtils" factory-method = "readFile">
        	 <!-- 
        	   You need the index param, cause there are a couple of variants for this methods and Spring needs
        	   some disambiguation
        	  -->
					<constructor-arg value = "#{ pwd + 'mapping/dbpedia_node_iris.sparql' }" index = "0" />
				</bean>
			</property>
			
			<property name="labelsSparql">
				<bean class = "uk.ac.ebi.utils.io.IOUtils" factory-method = "readFile">
					<constructor-arg value = "#{ pwd + 'mapping/dbpedia_node_labels.sparql' }" index = "0" />
				</bean>
			</property>

			<property name="nodePropsSparql">
				<bean class = "uk.ac.ebi.utils.io.IOUtils" factory-method = "readFile">
					<constructor-arg value = "#{ pwd + 'mapping/dbpedia_node_props.sparql' }" index = "0" />
				</bean>
			</property>

			<property name="relationTypesSparql">
				<bean class = "uk.ac.ebi.utils.io.IOUtils" factory-method = "readFile">
					<constructor-arg value = "#{ pwd + 'mapping/dbpedia_rel_types.sparql' }" index = "0" />
				</bean>
			</property>

			<property name="relationPropsSparql">
				<bean class = "uk.ac.ebi.utils.io.IOUtils" factory-method = "readFile">
					<constructor-arg value = "#{ pwd + 'mapping/dbpedia_rel_props.sparql' }" index = "0" />
				</bean>
			</property>

		</bean>


		<!-- Queries to map people -->

		<bean class = "uk.ac.rothamsted.rdf.neo4j.load.MultiConfigCyLoader.ConfigItem">
		
			<property name = "name" value = "people" />

			<property name = "nodeIrisSparql">
				<bean class = "uk.ac.ebi.utils.io.IOUtils" factory-method = "readFile">
					<constructor-arg value = "#{ pwd + 'mapping/dbpedia_people_iris.sparql' }" index = "0" />
				</bean>
			</property>
			
			<property name="labelsSparql">
				<bean class = "uk.ac.ebi.utils.io.IOUtils" factory-method = "readFile">
					<constructor-arg value = "#{ pwd + 'mapping/dbpedia_people_labels.sparql' }" index = "0" />
				</bean>
			</property>

			<property name="nodePropsSparql">
				<bean class = "uk.ac.ebi.utils.io.IOUtils" factory-method = "readFile">
					<constructor-arg value = "#{ pwd + 'mapping/dbpedia_people_props.sparql' }" index = "0" />
				</bean>
			</property>

			<property name="relationTypesSparql">
				<bean class = "uk.ac.ebi.utils.io.IOUtils" factory-method = "readFile">
					<constructor-arg value = "#{ pwd + 'mapping/dbpedia_people_rel_types.sparql' }" index = "0" />
				</bean>
			</property>

			<!-- We don't have any property name="relationPropsSparql", since there are straight relations only -->
						
		</bean>


		<!-- And some boilerplate -->
		
		<!-- We need the loadingSession scope, since a new driver is created for each query set -->
		<bean id = "neoDriver" 
				  class = "org.neo4j.driver.v1.GraphDatabase" factory-method="driver"
				  scope = "loadingSession"
		>
			
			<constructor-arg value = "bolt://127.0.0.1:7687" />
					
			<constructor-arg>
				<bean class = "org.neo4j.driver.v1.AuthTokens" factory-method = "basic">
					<constructor-arg value = "neo4j" />
					<constructor-arg value = "test" />
				</bean>
			</constructor-arg>
			
		</bean>
		
</beans>